.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid;
}

.avatar {
    height: 100px;
    width: 100px;
    padding: 2%;
    opacity: 0.5;
}

.inputField {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid black;
    margin-top: 3%;
    color: white;
    width: 40%;
    transition: all ease-in-out 0.2s;
    text-align: center;
}

.inputField:focus {
    width: 50%;
}

::placeholder {
    color: white;
    opacity: 0.5;
}

textarea:focus, input:focus{
    outline: none;
}

.submit-btn {
    margin: 5%;
    width: 15%;
    height: 30px;
    background-color: rgb(77, 77, 77);
    color: white;
    border: none;
}

.submit-btn:hover {
    background-color: rgb(83, 83, 83);
}