.dates {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.dates > label {
  width: 20%;
}

.dates > .input-field {
  width: 25%;
}

.input-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 2%;
}

.input-field {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid black;
  color: white;
  transition: all ease-in-out 0.2s;
  text-align: center;
  width: 60%;
  transition: all 0.2s ease-in-out;
}

.input-field:focus {
  transform: scaleX(1.1);
}

::placeholder {
  color: white;
  opacity: 0.5;
}

textarea:focus,
input:focus {
  outline: none;
}

@media only screen and (min-width: 992px) {
  .dates {
    font-size: 1em;
  }

  .dates > label {
    width: 50%;
  }
  
  .dates > .input-field {
    width: 25%;
  }

  .input-field {
    font-size: 1em;
    width: 100%;
  }


  .input-container {
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  .submit-btn {
    margin-top: 15%;
  }
}
