.dates {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 10px 0 10px;
}

.dates > label {
  width: 45%;
}

.dates > .input-field {
  width: 55%;
}

.input-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 2%;
}

.input-field {
  background-color: transparent !important; 
  border: none;
  border-bottom: 1px solid black;
  color: black;
  transition: all ease-in-out 0.1s;
  text-align: center;
  width: 90%;
  font-family: 'quicksand';
  font-size: 1rem;
}

.input-field:not(.input-dates):focus {
  width: 95%;
}

::placeholder {
  color: white;
  opacity: 0.5;
}

textarea:focus,
input:focus {
  outline: none;
}

@media only screen and (min-width: 992px) {

}
