.container {
  position: relative;
  top: 15%;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  font-size: 1rem;
  z-index: 1;
  height: 100%;
  margin-bottom: 100px;
}

.section-title {
  font-size: 1.3rem;
  font-family: 'Quicksand', sans-serif;
}

.profile-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.avatar {
  margin-top: 2%;
  height: 100px;
  width: 100px;
  opacity: 0.5;
  border-radius: 50%;
  border: 2px solid white;
  object-fit: cover;
}

.names,
.contact {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

.names > label,
.contact > label {
  width: 65%;
  
}

.names > .inputField,
.contact > .inputField {
  margin-top: 2%;
}

.input-label {
  font-family: 'Quicksand', sans-serif;
}

.inputField {
  background-color: transparent !important; 
  border: none;
  border-bottom: 1px solid black;
  color: black;
  transition: all ease-in-out 0.1s;
  text-align: center;
  width: 85%;
  font-family: 'quicksand';
  font-size: 1rem;
}

.inputField:not(#image-input):focus {
  width: 95%;
}

#image-input {
  display: none;
}

.image-input-label {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  font-size: .8rem;
  cursor: pointer;
  opacity: .7;
  font-family: 'Quicksand', sans-serif;
}

.image-input-label:hover {
  box-shadow: 0px 0px 15px 13px solid black;
  background-color: rgb(192, 192, 192);
}

#cover-label:hover {
  opacity: 1;
}

::placeholder {
  color: white;
  opacity: 0.5;
}

textarea:focus,
input:focus {
  outline: none;
}

.button-container {
  padding-top: 15px;
}

.submit-btn {
  padding: 1%;
  height: 50px;
  background-color: var(--detail-color);
  color: white;
  border: none;
  font-size: 1rem;
  box-shadow: 0px 0px .5px .5px black;
  font-family: 'Quicksand', sans-serif;
}

.submit-btn:hover {
  background-color: rgb(140, 91, 160);
  box-shadow: 0px 0px 2px .5px black;
}

.error {
  color: rgb(145, 37, 37);
  font-size: 0.9rem;
  padding-top: 15px;
  font-family: 'Quicksand', sans-serif;
}

@media only screen and (min-width: 992px) {


  .section-title {
    font-size: 1.3em;
  }

  .avatar {
    height: 100px;
    width: 100px;
  }

  .input-label {
    width: 100%;
  }

  .input-container {
    width: 100%;
  }


}
