.App {
  text-align: center;
}

.header {
  height: 10vh;
  width: 100vw;
  background-color: black;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

h1 {
  color: white;
  padding-left: 2%;
}

.content {
  display: flex;
  flex-wrap: nowrap;
}

.modifiable-section {
  width: 45vw;
  height: 85vh;
  background-color: grey;
}

.final-section {
  width: 55vw;
  height: 85vh;
  background-color: whitesmoke
}